.NewSurveyPagePageSite {
    /*height: 100%;*/
}

.NewSurveyPagePPageCards {
    display: flex;
    height: 100%;
}

.NewSurveyPagePPageInfo {
    display: flex;
    flex-wrap: wrap;
}

.NewSurveyPagePPageMore {
    display: flex;
    flex-direction: column;
}
  