
.ProductPageInput {
    border: solid;
    border-width: 1px;
    padding: 8px 20px;
    width: 120px;
    color: #7c8786;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
}


.ProductPageButton {
    background-color: #FF9915;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    cursor: pointer;

}

.ProductPageButton:hover {
    background-color: #ca7505;
    color: white;
}