/*
.Card {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-style: none;
    border-radius: 0px;
    width: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 150%;
    flex: 1;
}
*/

.Card {
    /*width: max-content;*/
    line-height: 150%;
}

.Divider {
    border-top: 1px solid #cbcbcb;
}

